{:highlights [{:id #uuid "69d16fbb-3947-4746-a2b9-fc5a462a20fe",
               :page 1,
               :position {:bounding {:x1 215.265625,
                                     :y1 496.8125,
                                     :x2 273.1614074707031,
                                     :y2 513.8125,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 215.265625,
                                   :y1 496.8125,
                                   :x2 273.1614074707031,
                                   :y2 513.8125,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 1},
               :content {:text "BIF-1101"},
               :properties {:color "yellow"}}
              {:id #uuid "69d17064-de9f-4b5a-abe4-210ac41cdbe7",
               :page 1,
               :position {:bounding {:x1 208.875,
                                     :y1 670.9375,
                                     :x2 279.94427490234375,
                                     :y2 687.9375,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 208.875,
                                   :y1 670.9375,
                                   :x2 279.94427490234375,
                                   :y2 687.9375,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 1},
               :content {:text "BIF-1102-1"},
               :properties {:color "yellow"}}
              {:id #uuid "69d1739a-57a4-4e31-a245-52471887a8d4",
               :page 2,
               :position {:bounding {:x1 208.875,
                                     :y1 452.8125,
                                     :x2 279.8125,
                                     :y2 469.8125,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 208.875,
                                   :y1 452.8125,
                                   :x2 279.8125,
                                   :y2 469.8125,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 2},
               :content {:text "BIF-1106-2"},
               :properties {:color "yellow"}}
              {:id #uuid "69d17413-ef82-4046-a1a9-4cf7f57542fb",
               :page 1,
               :position {:bounding {:x1 214.504150390625,
                                     :y1 587.328125,
                                     :x2 279.6999816894531,
                                     :y2 604.328125,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 214.504150390625,
                                   :y1 587.328125,
                                   :x2 279.6999816894531,
                                   :y2 604.328125,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 1},
               :content {:text "BIF-1101S"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2a7a0-f6f4-4b0b-8aa2-199c99425243",
               :page 2,
               :position {:bounding {:x1 217.679443359375,
                                     :y1 922.234375,
                                     :x2 276.32293701171875,
                                     :y2 942.359375,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.679443359375,
                                   :y1 922.234375,
                                   :x2 276.32293701171875,
                                   :y2 942.359375,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 2},
               :content {:text "BIF-1110"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2a7fe-6686-4b49-85c3-0d399b068e26",
               :page 2,
               :position {:bounding {:x1 217.679443359375,
                                     :y1 1008.671875,
                                     :x2 276.39019775390625,
                                     :y2 1028.796875,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.679443359375,
                                   :y1 1008.671875,
                                   :x2 276.39019775390625,
                                   :y2 1028.796875,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 2},
               :content {:text "BIF-1111"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2a85d-c003-4222-aa12-ade587821061",
               :page 3,
               :position {:bounding {:x1 217.679443359375,
                                     :y1 352.78125,
                                     :x2 276.32293701171875,
                                     :y2 372.90625,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.679443359375,
                                   :y1 352.78125,
                                   :x2 276.32293701171875,
                                   :y2 372.90625,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 3},
               :content {:text "BIF-1116"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2a8a6-f432-4757-9aa1-5d1856bb072c",
               :page 4,
               :position {:bounding {:x1 217.679443359375,
                                     :y1 433.796875,
                                     :x2 276.1958923339844,
                                     :y2 453.921875,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.679443359375,
                                   :y1 433.796875,
                                   :x2 276.1958923339844,
                                   :y2 453.921875,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 4},
               :content {:text "BIF-2103"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2a910-37c2-4a5e-943f-e5a0bd6cca55",
               :page 4,
               :position {:bounding {:x1 217.679443359375,
                                     :y1 526.125,
                                     :x2 276.1958923339844,
                                     :y2 546.25,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.679443359375,
                                   :y1 526.125,
                                   :x2 276.1958923339844,
                                   :y2 546.25,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 4},
               :content {:text "BIF-2104"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2a95c-85e2-48ed-bcbc-ed579f9393c9",
               :page 6,
               :position {:bounding {:x1 217.679443359375,
                                     :y1 66.078125,
                                     :x2 276.1958923339844,
                                     :y2 86.203125,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.679443359375,
                                   :y1 66.078125,
                                   :x2 276.1958923339844,
                                   :y2 86.203125,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 6},
               :content {:text "BIF-2120"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2a9c2-0917-4188-97da-863c9de13350",
               :page 10,
               :position {:bounding {:x1 217.679443359375,
                                     :y1 553.84375,
                                     :x2 276.2582092285156,
                                     :y2 573.96875,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.679443359375,
                                   :y1 553.84375,
                                   :x2 276.2582092285156,
                                   :y2 573.96875,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 10},
               :content {:text "BIS-1103"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2aa15-531f-4e98-9ea5-b048dc322b39",
               :page 6,
               :position {:bounding {:x1 217.679443359375,
                                     :y1 243.609375,
                                     :x2 276.1958923339844,
                                     :y2 263.734375,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.679443359375,
                                   :y1 243.609375,
                                   :x2 276.1958923339844,
                                   :y2 263.734375,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 6},
               :content {:text "BIF-2122"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2aa6a-6d51-4013-88ad-bec2076485ce",
               :page 7,
               :position {:bounding {:x1 217.1835174560547,
                                     :y1 543.546875,
                                     :x2 277.04168701171875,
                                     :y2 563.671875,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.1835174560547,
                                   :y1 543.546875,
                                   :x2 277.04168701171875,
                                   :y2 563.671875,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 7},
               :content {:text "BIC-1115"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2aad9-81aa-42d0-bcb8-e0256acde232",
               :page 7,
               :position {:bounding {:x1 217.1835174560547,
                                     :y1 1039.90625,
                                     :x2 276.9769592285156,
                                     :y2 1060.03125,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.1835174560547,
                                   :y1 1039.90625,
                                   :x2 276.9769592285156,
                                   :y2 1060.03125,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 7},
               :content {:text "BIC-1120"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2ab38-8070-4962-8f1b-930da9e7f477",
               :page 14,
               :position {:bounding {:x1 216.20703125,
                                     :y1 318.390625,
                                     :x2 277.9457092285156,
                                     :y2 338.515625,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 216.20703125,
                                   :y1 318.390625,
                                   :x2 277.9457092285156,
                                   :y2 338.515625,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 14},
               :content {:text "BIO-1132"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2abaa-e96d-4c52-bed0-62ed8c4d014f",
               :page 9,
               :position {:bounding {:x1 217.1835174560547,
                                     :y1 435.5,
                                     :x2 276.9769592285156,
                                     :y2 455.625,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.1835174560547,
                                   :y1 435.5,
                                   :x2 276.9769592285156,
                                   :y2 455.625,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 9},
               :content {:text "BIC-1148"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2abf2-6985-4cd9-8fdc-d3ac09b03e0c",
               :page 8,
               :position {:bounding {:x1 217.1835174560547,
                                     :y1 662.125,
                                     :x2 276.9769592285156,
                                     :y2 682.25,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 217.1835174560547,
                                   :y1 662.125,
                                   :x2 276.9769592285156,
                                   :y2 682.25,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 8},
               :content {:text "BIC-1126"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2ac54-7912-4108-9f37-9ad6ccbb17ae",
               :page 14,
               :position {:bounding {:x1 216.20703125,
                                     :y1 143.015625,
                                     :x2 277.9457092285156,
                                     :y2 163.140625,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 216.20703125,
                                   :y1 143.015625,
                                   :x2 277.9457092285156,
                                   :y2 163.140625,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 14},
               :content {:text "BIO-1105"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2ac9f-756a-43d2-abc3-6bb7e4bd0efe",
               :page 15,
               :position {:bounding {:x1 216.20703125,
                                     :y1 294.296875,
                                     :x2 278.01043701171875,
                                     :y2 314.421875,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 216.20703125,
                                   :y1 294.296875,
                                   :x2 278.01043701171875,
                                   :y2 314.421875,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 15},
               :content {:text "BIO-1118"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2acde-31c2-4f8e-b85e-89b1b70f8f1d",
               :page 15,
               :position {:bounding {:x1 216.20703125,
                                     :y1 375.1875,
                                     :x2 278.01043701171875,
                                     :y2 395.3125,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 216.20703125,
                                   :y1 375.1875,
                                   :x2 278.01043701171875,
                                   :y2 395.3125,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 15},
               :content {:text "BIO-1119"},
               :properties {:color "yellow"}}
              {:id #uuid "69d2ad16-983e-4c60-ad8d-f34cef334d79",
               :page 18,
               :position {:bounding {:x1 215.06834411621094,
                                     :y1 336.71875,
                                     :x2 279.0550842285156,
                                     :y2 356.84375,
                                     :width 799.9999999999999,
                                     :height 1131.4237715245695},
                          :rects ({:x1 215.06834411621094,
                                   :y1 336.71875,
                                   :x2 279.0550842285156,
                                   :y2 356.84375,
                                   :width 799.9999999999999,
                                   :height 1131.4237715245695}),
                          :page 18},
               :content {:text "BCP-1102"},
               :properties {:color "yellow"}}],
 :extra {:page 1}}
