{:highlights [{:id #uuid "69d40555-0b03-462d-a671-4cea35fdb178",
               :page 740,
               :position {:bounding {:x1 121.109375,
                                     :y1 658.328125,
                                     :x2 679.0004272460938,
                                     :y2 706.625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 362.71875,
                                   :y1 658.328125,
                                   :x2 437.390625,
                                   :y2 671.328125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 121.109375,
                                   :y1 679.1875,
                                   :x2 679.0004272460938,
                                   :y2 692.1875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 335.265625,
                                   :y1 693.625,
                                   :x2 464.6459045410156,
                                   :y2 706.625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 740},
               :content {:text "Capítulo 84. Reactores nucleares, calderas, máquinas, aparatos y artefactos mecánicos; partes de estas máquinas o aparatos"},
               :properties {:color "yellow"}}
              {:id #uuid "69d40618-3c53-4151-bcdf-04d1e4e082fc",
               :page 770,
               :position {:bounding {:x1 116.09375,
                                     :y1 251.28125,
                                     :x2 463.80474853515625,
                                     :y2 288.6875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 225.4375,
                                   :y1 251.28125,
                                   :x2 463.7095031738281,
                                   :y2 263.28125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 116.09375,
                                   :y1 263.984375,
                                   :x2 143.41456604003906,
                                   :y2 275.984375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.4375,
                                   :y1 263.984375,
                                   :x2 463.80474853515625,
                                   :y2 275.984375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.4375,
                                   :y1 276.6875,
                                   :x2 312.6553955078125,
                                   :y2 288.6875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 770},
               :content {:text "84.21 Centrifugadoras, incluidas las secadoras centrífugas; aparatos para filtrar o depurar líquidos o gases"},
               :properties {:color "red"}}
              {:id #uuid "69d407ba-1364-4daf-ba7a-a861f80193e6",
               :page 771,
               :position {:bounding {:x1 116.09375,
                                     :y1 217.390625,
                                     :x2 463.890625,
                                     :y2 254.96875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 225.4375,
                                   :y1 217.390625,
                                   :x2 463.890625,
                                   :y2 229.390625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 116.09375,
                                   :y1 230.265625,
                                   :x2 169.390625,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 193.109375,
                                   :y1 230.265625,
                                   :x2 206.97865295410156,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.4375,
                                   :y1 230.265625,
                                   :x2 272.5625,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 282.84375,
                                   :y1 230.265625,
                                   :x2 299.171875,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 309.515625,
                                   :y1 230.265625,
                                   :x2 368.59375,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 378.984375,
                                   :y1 230.265625,
                                   :x2 399.625,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 409.890625,
                                   :y1 230.265625,
                                   :x2 446.921875,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 457.21875,
                                   :y1 230.265625,
                                   :x2 463.0625,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.4375,
                                   :y1 242.96875,
                                   :x2 290.5593566894531,
                                   :y2 254.96875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 771},
               :content {:text "8421.23.01 00 Para filtrar lubricantes o carburantes en los motores de encendido por chispa o compresión."},
               :properties {:color "green"}}],
 :extra {:page 772}}
