{:highlights [{:id #uuid "69d40555-0b03-462d-a671-4cea35fdb178",
               :page 740,
               :position {:bounding {:x1 121.109375,
                                     :y1 658.328125,
                                     :x2 679.0004272460938,
                                     :y2 706.625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 362.71875,
                                   :y1 658.328125,
                                   :x2 437.390625,
                                   :y2 671.328125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 121.109375,
                                   :y1 679.1875,
                                   :x2 679.0004272460938,
                                   :y2 692.1875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 335.265625,
                                   :y1 693.625,
                                   :x2 464.6459045410156,
                                   :y2 706.625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 740},
               :content {:text "Capítulo 84. Reactores nucleares, calderas, máquinas, aparatos y artefactos mecánicos; partes de estas máquinas o aparatos"},
               :properties {:color "yellow"}}
              {:id #uuid "69d40618-3c53-4151-bcdf-04d1e4e082fc",
               :page 770,
               :position {:bounding {:x1 116.09375,
                                     :y1 251.28125,
                                     :x2 463.80474853515625,
                                     :y2 288.6875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 225.4375,
                                   :y1 251.28125,
                                   :x2 463.7095031738281,
                                   :y2 263.28125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 116.09375,
                                   :y1 263.984375,
                                   :x2 143.41456604003906,
                                   :y2 275.984375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.4375,
                                   :y1 263.984375,
                                   :x2 463.80474853515625,
                                   :y2 275.984375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.4375,
                                   :y1 276.6875,
                                   :x2 312.6553955078125,
                                   :y2 288.6875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 770},
               :content {:text "84.21 Centrifugadoras, incluidas las secadoras centrífugas; aparatos para filtrar o depurar líquidos o gases"},
               :properties {:color "red"}}
              {:id #uuid "69d407ba-1364-4daf-ba7a-a861f80193e6",
               :page 771,
               :position {:bounding {:x1 116.09375,
                                     :y1 217.390625,
                                     :x2 463.890625,
                                     :y2 254.96875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 225.4375,
                                   :y1 217.390625,
                                   :x2 463.890625,
                                   :y2 229.390625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 116.09375,
                                   :y1 230.265625,
                                   :x2 169.390625,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 193.109375,
                                   :y1 230.265625,
                                   :x2 206.97865295410156,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.4375,
                                   :y1 230.265625,
                                   :x2 272.5625,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 282.84375,
                                   :y1 230.265625,
                                   :x2 299.171875,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 309.515625,
                                   :y1 230.265625,
                                   :x2 368.59375,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 378.984375,
                                   :y1 230.265625,
                                   :x2 399.625,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 409.890625,
                                   :y1 230.265625,
                                   :x2 446.921875,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 457.21875,
                                   :y1 230.265625,
                                   :x2 463.0625,
                                   :y2 242.265625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.4375,
                                   :y1 242.96875,
                                   :x2 290.5593566894531,
                                   :y2 254.96875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 771},
               :content {:text "8421.23.01 00 Para filtrar lubricantes o carburantes en los motores de encendido por chispa o compresión."},
               :properties {:color "green"}}
              {:id #uuid "69d4447e-01bd-4dc1-8f99-147a3b455dc5",
               :page 304,
               :position {:bounding {:x1 166.921875,
                                     :y1 597.0625,
                                     :x2 632.9371337890625,
                                     :y2 635.90625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 360.53125,
                                   :y1 597.0625,
                                   :x2 440.6812744140625,
                                   :y2 612.0625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 166.921875,
                                   :y1 620.90625,
                                   :x2 632.9371337890625,
                                   :y2 635.90625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 304},
               :content {:text "Sección VII. PLÁSTICO Y SUS MANUFACTURAS; CAUCHO Y SUS MANUFACTURAS"},
               :properties {:color "yellow"}}
              {:id #uuid "69d444bc-0d5e-415c-a8f9-f6376c4c70ff",
               :page 327,
               :position {:bounding {:x1 314.71875,
                                     :y1 842.046875,
                                     :x2 485.3153381347656,
                                     :y2 875.90625,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 362.71875,
                                   :y1 842.046875,
                                   :x2 437.546875,
                                   :y2 855.046875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 314.71875,
                                   :y1 862.90625,
                                   :x2 485.3153381347656,
                                   :y2 875.90625,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 327},
               :content {:text "Capítulo 40. Caucho y sus manufacturas"},
               :properties {:color "red"}}
              {:id #uuid "69d444fa-47af-4259-b047-656ce9141dbc",
               :page 340,
               :position {:bounding {:x1 116.09375,
                                     :y1 599.421875,
                                     :x2 454.9244689941406,
                                     :y2 624.125,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 225.75,
                                   :y1 599.421875,
                                   :x2 454.9244689941406,
                                   :y2 611.421875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 116.09375,
                                   :y1 605.859375,
                                   :x2 146.875,
                                   :y2 617.859375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.75,
                                   :y1 612.125,
                                   :x2 372.8210754394531,
                                   :y2 624.125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 340},
               :content {:text "40.16 Las demás manufacturas de caucho vulcanizado sin endurecer."},
               :properties {:color "green"}}
              {:id #uuid "69d44543-3e71-4562-b42a-5cae1e95fe6f",
               :page 340,
               :position {:bounding {:x1 116.09375,
                                     :y1 835.546875,
                                     :x2 362.83154296875,
                                     :y2 847.546875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 116.09375,
                                   :y1 835.546875,
                                   :x2 173.65625,
                                   :y2 847.546875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.75,
                                   :y1 835.546875,
                                   :x2 362.83154296875,
                                   :y2 847.546875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 340},
               :content {:text "4016.93.04 Juntas o empaquetaduras"},
               :properties {:color "blue"}}
              {:id #uuid "69d4457a-4210-4a24-801e-dc43bc9d381b",
               :page 341,
               :position {:bounding {:x1 116.09375,
                                     :y1 408.8125,
                                     :x2 454.94073486328125,
                                     :y2 471.796875,
                                     :width 799.9999999999999,
                                     :height 1035.2941176470586},
                          :rects ({:x1 225.75,
                                   :y1 408.8125,
                                   :x2 454.94073486328125,
                                   :y2 420.8125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.75,
                                   :y1 421.671875,
                                   :x2 454.786865234375,
                                   :y2 433.671875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 116.09375,
                                   :y1 434.375,
                                   :x2 170.984375,
                                   :y2 446.375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 193.265625,
                                   :y1 434.375,
                                   :x2 207.13490295410156,
                                   :y2 446.375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.75,
                                   :y1 434.375,
                                   :x2 454.8052978515625,
                                   :y2 446.375,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.75,
                                   :y1 447.078125,
                                   :x2 454.8074951171875,
                                   :y2 459.078125,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}
                                  {:x1 225.75,
                                   :y1 459.796875,
                                   :x2 322.8585205078125,
                                   :y2 471.796875,
                                   :width 799.9999999999999,
                                   :height 1035.2941176470586}),
                          :page 341},
               :content {:text "4016.99.01 00 Arandelas, válvulas u otras piezas de uso técnico, excepto artículos reconocibles como diseñados exclusivamente para ser utilizados en el moldeo de neumáticos nuevos (\"Bladers\")."},
               :properties {:color "blue"}}],
 :extra {:page 341}}
